@page "/imc"
@using LearningBlazor.Models;

<h3>Índice e Massa Corporal</h3>
<div class="container">
    <h3><center>Calculadora De Imc</center></h3>
    
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">NOME:</label>
        <input @bind="pessoa.Nome" type="text" class="form-control" id="exampleFormControlInput1">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">PESO:</label>
        <input @bind="pessoa.Peso" type="number" class="form-control" id="exampleFormControlInput1">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">ALTURA :</label>
        <input @bind="pessoa.Altura" type="number" class="form-control" id="exampleFormControlInput1">
    </div>

    <button type="button" @onclick="CalcularImc" class="btn btn-primary">CALCULAR</button>
    <button type="button" @onclick="LimparCampos" class="btn btn-warning">CANCELAR</button>
    <button type="button" class="btn btn-success">SALVAR</button>

    <nav class="navbar navbar-light" style="background-color: white"></nav>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">RESULTADO:</label>
        <input @bind="Imc" type="number" class="form-control" id="exampleFormControlInput1">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">CLASSIFICAÇÃO: </label>
        <input @bind="Classificacao" type="text" class="form-control" id="exampleFormControlInput1">
        <nav class="navbar navbar-light" style="background-color: @colorClassificao"></nav>
    </div>
</div>

@code {
    private Pessoa pessoa = new Pessoa();
    private double Imc;
    private string Classificacao;

    private string colorClassificao => Classificacao switch
    {
        "Abaixo do Peso" => "red",
        "Peso Normal" => "green",
        "Sobrepeso" => "yellow",
        "Obesidade Grau 1" => "orange",
        "Obesidade Grau 2" => "red",
        "Obesidade Grau 3" => "darkred",
        _ => "white"
    };

    private void CalcularImc()
    {
        Imc = pessoa.CalcularIMC();
        Classificacao = pessoa.SituacaoIMC();
    }

    private void LimparCampos() {
      pessoa = new Pessoa();
      Imc = 0;
      Classificacao = "";
    }
}